body {
    font-family: 'Baloo', sans-serif;
    background-color: #ffc7c7;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    padding: 10px 20px; /* Padding: 10px top and bottom, 20px left and right */
    background-color: #ffffff; /* Background color of the box */
    color: rgb(0, 0, 0); /* Text color */
    border-radius: 5px; /* Optional: to round the corners of the box */
    text-decoration: none; /* Remove underline from the link */
    margin: 10px; /* Optional: to add some space around the box */
}


.popup-box:hover {
    background-color: #ffffff;
}

#current-day {
    text-align: center;
}

.nav__cat {
    display: flex;

}

ul {
    list-style-type: none;
}

.school__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
